li{
    border: 1px;
    list-style: none;
}
h4{
    background-color: silver;
    text-align: center;
}
[quizForm]{
    background-color: azure;
}
[queztionContainer]{
    background-color: azure;
    text-align: center;
}
[btnSubmit]{
    width: 100%;
    border: 0px;
}