<section *ngIf="!currentQuestion">please wait..</section>

  <h4>Player Name: {{ playerName }}</h4>
  <div queztionContainer>{{ currentQuestion.content }}</div>
  <br/>

<section quizForm>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
    {{ currentQuestion.varchar_1 }}
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
    {{ currentQuestion.varchar_2 }}
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
    {{ currentQuestion.varchar_3 }}
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
    {{ currentQuestion.varchar_4 }}
  </label>
</div>
</section>
<button btnSubmit class="btn btn-secondary" (click)="onClickProceed()">Submit</button>