<h4>Quiz App</h4>
<form>
  <div class="form-group row">
    <label for="plasyername" class="col-xs-3 col-form-label">Name: </label>
      <div class="col-xs-9">
      <input class="form-control"  type="text" id="plasyername" name="plasyername" [(ngModel)]="name">
    </div>
  </div>

  <div class="form-group">
      <div errorwrap *ngIf="inputErrorCheck">{{ inputErrorCheck }}</div>
  </div>

  <div class="form-group row">
      <button submitBtn type="button"  class="btn btn-secondary" (click)="onClickProceed(name)">Proceed</button>
  </div>
</form>